* {
    box-sizing: border-box;
}

body {
    font-family: 'Kelson Sans Regular';
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


/* h1 {   
    font-size: calc(30px + 27*(100vw / 1920));
    line-height: 140%;   
} */


/* h2 {    40
    font-size: calc(26px + 14*(100vw / 1920));
    line-height: 160%;
} */

/* h3 {    30
    font-size: calc(20px + 10*(100vw / 1920));
    line-height: 160%;
} */


/* @media (max-width: 767px) {
    h1 {
        font-size: calc(30px + (27+27*0.7)*((100vw - 320px) / 1920));
    }

    h2 {
        font-size: calc(26px + (14+14*0.7)*((100vw - 320px) / 1920));
    }

    h3 {
        font-size: calc(20px + (10+10*0.7)*((100vw - 320px) / 1920));
    }
} */


h2 {
    font-weight: 400;
    font-size: calc(30px + 27*(100vw / 1920));
    color: #201E1E; 
    line-height: 140%;   
}


h3, .text-30-reg {   /* 30 */
    font-weight: 400;
    font-size: calc(20px + 10*(100vw / 1920));
    line-height: 160%;
    color: #201E1E;
}




.container {
    max-width: 1550px;
    width: 95%;
    margin: 0 auto;    
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    outline: none;
}

select {
    cursor: pointer;
    padding-left: 20px;
    appearance: none;
    background: #ffffff url(/img/select-arrow.svg) no-repeat right;
    background-position-x: calc(100% - 20px);
}

.breadcrumbs {
   display: flex; 
   padding: 40px 0;
}
.breadcrumbs span {
    padding: 0 10px;
    color: #ED2438;
}
.breadcrumbs a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #6C6F79;
}
.breadcrumbs .active {
    color: #201E1E;
}
.breadcrumbs--white a {
    color: #6C6F79;
}

.breadcrumbs--white .active {
    color: #E7EAF4;
}


.red-slesh {
    color: #ED2438 !important;
}

.underscore-red {
    position: relative;
}
.underscore-red::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px; 
    background-color: #ED2438;
    position: absolute;
    bottom: -4px;
}

.red-button {
    background: #ED2438;
    color: #FFFFFF;   
    font-weight: 400;
    line-height: 19px;
}
.red-button:hover {
    background: #7b000c;
}

/* .track-number {
    color: #ED2438;
} */

.grey-line {
    height: 1px;
    background-color: #E7EAF4;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* отступы секций */

/* .goods-popular, .goods-new, .news, .goods {
    padding-top: 70px;
}
.goods-new {
    padding-bottom: 120px;
}
.comments {
    background-color: #F8F9FD;
    padding: 80px 0;
}
.advantage {
    padding-top: 100px;
    padding-bottom: 120px;
}   */

.section-main-mt {
    margin-top: 120px;
}

@media (max-width: 1440px) { 
    .section-main-mt {
        margin-top: 80px;
    }
}


@media (max-width: 1024px) { 
    .section-main-mt {
        margin-top: 60px;
    }
}

@media (max-width: 360px) { 
    .section-main-mt {
        margin-top: 40px;
    }
}

.section-title {
    padding-bottom: 40px;
}

.section-title-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
 
.section-link {
    /* font-weight: 400;
    font-size: 20px;
    line-height: 24px; */
    color: #201E1E;    
}

.section-link:hover {
    color: #ED2438;
}

.fixed-buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 1%;
    margin-bottom: 1%;
    z-index: 2;
}


.fixed-buttons button {
    height: 60px;
    width: 60px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-button__chat {
    border: 1px solid #6C6F79;
    background-color: #201E1E;
}

.fixed-button__phone {
    margin-top: 16px;
    background-color: #ED2438;
}

.valuta {
    font-family: sans-serif;
}

.text-field {
    display: flex;
    flex-direction: column-reverse;
}

.text-field__input {
    border: 1px solid #E7EAF4;
    border-radius: 2px;
    padding-right: 1.7rem;
    padding-top: 1.7rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.text-field__label {
    padding-left: 1rem;
    color: #6C6F79;
    transform: translateY(2.5rem);
    transform-origin: left top;
    cursor: text;
    transition: all 0.3s;
    user-select: none;
}

.text-field__input[type="text"] {
    color: #201E1E;
}


.text-field__input:focus ~ .text-field__label,
.text-field__input:not(:placeholder-shown) ~ .text-field__label {
  padding: 0;
  transform: translateY(1.9rem) scale(0.8);
  padding-left: 1rem;
}

.text-field__input:focus ~ .text-field__label-comment,
.text-field__input:not(:placeholder-shown) ~ .text-field__label-comment {
    transform: translateY(1.9rem) scale(1);
}

.text-field__comment {
    resize: none;
}

.text-40-reg {
    font-size: calc(26px + 14*(100vw / 1920));
    line-height: 160%;
}

.text-25-reg {
    font-size: calc(20px + 5*(100vw / 1920));
    line-height: 160%; /* line-height: 30px;     */
}

.text-20-reg {
    font-size: calc(18px + 2*(100vw / 1920));
    line-height: 160%; /* line-height: 24px;    */
}

.text-18-reg {
    font-size: calc(14px + 4*(100vw / 1920));
    line-height: 160%;
}

.text-16-reg {
    font-size: 16px;
    line-height: 160%;
}

.text-15-reg {
    font-size: 15px;
    line-height: 160%;
}

.text-14-reg {
    font-size: 14px;
    line-height: 160%;
}


.text-20-light {
    font-family: 'Kelson Sans Light';
    font-size: calc(18px + 2*(100vw / 1920));
    line-height: 160%;
}

.text-18-light {
    font-family: 'Kelson Sans Light';
    font-size: calc(14px + 4*(100vw / 1920));
    line-height: 160%;
}

.text-16-light {
    font-family: 'Kelson Sans Light';
    font-size: 16px;
    line-height: 160%;
}

.text-15-light {
    font-family: 'Kelson Sans Light';
    font-size: 15px;
    line-height: 160%;
}

.text-14-light {
    font-family: 'Kelson Sans Light';
    font-size: 14px;
    line-height: 160%;
}

.summ-content {
    display: flex;
}

.summ-inform {
    width: 75%;
}

.summ-box {
    width: 25%;
    height: max-content;
    background-color: #fff; 
    padding: 40px;
    margin-left: 20px;
}

.summ-box button {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #E7EAF4;
    color: #201E1E;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summ-box button svg {
    margin-right: 10px;
}

.summ-box button svg path{
    stroke: #201E1E;
}

.summ-box button:hover {
    background-color: #ED2438;
    color: #ffffff;
}

.summ-box button:hover svg path{
    stroke: #FFFFFF;
}


.summ-box button.active {
    background-color: #ED2438;
    color: #ffffff;
}

.summ-box button.active svg path{
    stroke: #FFFFFF;
}

.summ-box button.active:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.summ-box__text-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.summ-box__sign {
    color: #6C6F79;
}

.summ-box__num {
    white-space: nowrap;
    padding-left: 10px;
}

.summ-box__line {
    height: 1px;
    background-color: #E7EAF4;
    width: 100%;
    margin-bottom: 30px;
}


.purchase-table__line {
    height: 1px;
    width: 100%;
    background-color: #E7EAF4;
}

.purchase-table__buy img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 40px;
}

.purchase-table__buy a {
    color: #201E1E;
}

.purchase-table__row:first-child {
    padding-top: 0;
    border-top: none;
}

.purchase-table__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #E7EAF4;
}

.purchase-table__buy {
    display: flex;
    align-items: center;
    min-width: 150px;
    width: 42%;
    margin-right: 15px;
}

.purchase-table__col {
    min-width: 80px;
    width: 15%;
}

.purchase-table__head p {
    color: #6C6F79;
}

.purchase-table__label-grey {
    color: #6C6F79;
    margin-top: 10px;
}

.purchase-table__label-black {
    color: #201E1E;
}

.purchase-table__delete {
    background-color: transparent;
}


.purchase-table-box {
    position: relative;
    overflow: auto;
}

.purchase-table__old-price {
    text-decoration: line-through;
    color: #6C6F79;
}


@media (max-width: 1440px) { 
    .section-title {
        padding-bottom: 30px;
    }
    
    .breadcrumbs {
        padding: 30px 0;
    }
}

@media (max-width: 1024px) {   

    .fixed-buttons button {
        height: 50px;
        width: 50px;
    }

    .fixed-button__phone {
        margin-top: 10px;
    }

    .summ-content {
        flex-direction: column-reverse;
    }

    .summ-inform {
        width: 100%;
    }

    .summ-box {
        width: 100%;
        margin-left: 0; 
        margin-bottom: 15px; 
        padding: 20px;     
    }

    .summ-box button {
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h3, .text-30-reg, .text-40-reg {
        line-height: 140%;
    }
}



@media (max-width: 768px) {
    h2 {
        font-size: calc(30px + (27+27*0.7)*((100vw - 320px) / 1920));
    }

    h3, .text-30-reg {
        font-size: calc(20px + (10+10*0.7)*((100vw - 320px) / 1920));
    }

    .text-40-reg {
        font-size: calc(26px + (14+14*0.7)*((100vw - 320px) / 1920));   
    }

    .text-18-reg {
        font-size: calc(14px + (4+4*0.7)*((100vw - 320px) / 1920));
    }

    .text-25-reg {
        font-size: calc(20px + (5+5*0.7)*((100vw - 320px) / 1920));
        line-height: 26px;    
    }
    
    .text-20-reg {
        font-size: calc(18px + (2+2*0.7)*((100vw - 320px) / 1920));
        line-height: 20px;   
    }

    .text-20-light {
        font-size: calc(18px + (2+2*0.7)*((100vw - 320px) / 1920));
        line-height: 20px;   
    }

    .text-18-light {
        font-size: calc(14px + (4+4*0.7)*((100vw - 320px) / 1920));
    }

    .fixed-buttons {
        bottom: 85px;
    }

    .purchase-table__buy {
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
    }
    
    .section-title {
        padding-bottom: 10px;
    }  
}


@media (max-width: 500px) { 
    .text-field__input:focus ~ .text-field__label-comment,
    .text-field__input:not(:placeholder-shown) ~ .text-field__label-comment {
        transform: translateY(2.9rem) scale(1);
    }

    .text-field__comment {
        padding-top: 2.8rem;
    }


    
    .purchase-table {
        overflow-x: scroll;
    }


}

@media (max-width: 360px) { 

    .fixed-buttons {
        display: none;
    }


    .text-16-reg {
        font-size: 14px;
    }

    .text-15-reg {
        font-size: 13px;
    }

    .text-14-reg {
        font-size: 12px;
    }
    
    .text-16-light {
        font-size: 14px;
    }
    
    .text-15-light {
        font-size: 13px;
    }
    
    .text-14-light {
        font-size: 12px;
    }

    .summ-box {
        padding: 20px;
        margin-bottom: 20px;
    }
}