.profile {
    background-color: #F8F9FD;
    color: #201E1E;
    padding-bottom: 83px;
}

.profile__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signout-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #ED2438;
    border: 1px solid #E7EAF4;
    border-radius: 4px;
    padding: 17px 20px;
}

.signout-btn:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);    
}


.profile__form .text-field {
    margin-bottom: 10px;
}

.profile__form-btn {
    background-color: #F8F9FD;;
    padding: 21px 55px;
    margin-top: 30px;
}
.profile__form-btn:hover {
    color: #fff;
    background-color: #ED2438;
}

.profile__inform-box {
    display: flex;
    justify-content: space-between;
}


.profile__form, .profile__history {
    background-color: #fff;
    padding: 40px;
    height: max-content;
}

.profile__form {
    width: 39%;
}

.profile__history {
    width: 60%;
    padding-bottom: 0;
}


.profile__history-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile__history-title-box a {
    color: #6C6F79;
}
.profile__history-title-box a:hover {
    color: #ED2438;
}



.profile-history__buy-box {
    padding: 25px;
    padding-left: 0;
    border-top: 1px solid #E7EAF4;
}

.profile-history__link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.profile-history__date {
    color: #6C6F79;
}

.profile-history__more {
    text-transform: uppercase;
    color: #201E1E;
}
.profile-history__more:hover {
    color: #ED2438;
}

.profile-history__num {
    font-family: 'Kelson Sans Regular';
}

.profile-history__track-num {
    color: #ED2438;
    font-family: 'Kelson Sans Regular';
}



@media (max-width: 768px) {
    .profile__inform-box {
        flex-direction: column;
    }

    .profile__form, .profile__history {
        width: 100%;
        padding: 20px;
    }

    .profile__form {
        margin-bottom: 20px;
    }

    .profile__form-btn {
        margin-top: 10px;
        padding: 15px 45px;
    }
}

@media (max-width: 425px) {
    .profile__title-box {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .profile__title-box button {
        margin-bottom: 15px;
    }
}