.tabs {

}


.tabs__item {
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #201E1E;
    padding: 20px 40px;
    margin-right: 2px;
}

.tabs__item:hover {
    background-color: #ED2438;
    cursor: pointer;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs__block {
    /* скрыть контент по умолчанию */
    display: none;
    padding-top: 30px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4  {
  display: block;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #ED2438;
}

@media (max-width: 768px) { 
    .tabs__item {
        font-size: 14px;
        padding: 15px 10px;
    }
}

@media (max-width: 360px) { 
    .tabs__item {
        font-size: 13px;
        padding: 10px 5px;
    }
}